<div class="newrank_foot">
<div class="foot_top">
  <div class='newrank_container'>
	<div class='foot_part_1'>
		<div class='foot_list' id='foot_list_1'>
			<dl>
				<dt><a href="" style="color:#d8d8d8;font-size:18px; font-family:微软雅黑 Light;">关于我们</a></dt>
				<dd><a href="">关于德灵榜</a></dd>
				<dd><a href="">联系方式</a></dd>
				<dd><a href="">广告服务</a></dd>
		    </dl>
		</div>		
		<div class='foot_list' id='foot_list_2'>
			<dl>
				<dt><a href="" style="color:#d8d8d8;font-size:18px;font-family:微软雅黑 Light;">联系我们</a></dt>
				<dd><a href="">010-8721-4331</a></dd>
				<dd><a href="">服务时间：10:00-18:00</a></dd>
			</dl>
		</div>	
		<div class='foot_list' id='foot_list_3'>
			<dl>
				<dt><a href="" style="color:#d8d8d8;font-size:18px;font-family:微软雅黑 Light;">关注我们</a></dt>
				<dd><img src="__PUBLIC__/img/overview/qr.png"></dd>

			</dl>
		</div>	
		<div class="clearfix"></div>
	</div>
  </div>
  </div>
  <div class="foot_bottom">
  	版权所有：北京德灵科技发展有限责任公司Copyright©2015-2016 Data Guiding.com  <span>增值电信业务经营许可证 京ICP备15066877</span>
  </div>
</div>
