<meta charset="utf8">


<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css"/>

<link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
<link rel="stylesheet" href="__PUBLIC__/css/newrank.css"/>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/echarts-all.js"></script>
<script src="__PUBLIC__/js/jquery.bootpag.min.js"></script>
<script src="__PUBLIC__/js/angular.min.js"></script>
<script src="__PUBLIC__/js/angular-route.min.js"></script>
