<div id="advertisement_title" >
	<div class="newrank_container">

	    <div class="advertisement_type">
		</div>

		<div class="cut_off">	
		</div>
		<div class="choose_link1">
			<img id="day_link" src="__PUBLIC__/img/list/line-red.png">
		</div>
		<div class="advertisement_content">	
		</div>
	</div>
</div>
<div id="advertisement_boxes">
    <div class="newrank_container">
		<img class="advertisement_logo" src="__PUBLIC__/img/overview/Advertisement.png">
			<div class="ad_boxes">
			<div class="ad_box">
			    <div class="ad_img">
				    <img src="__PUBLIC__/img/overview/image1.png">
				     <div class="ad_discribe">
					   <div>穿一件新旗袍</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box">
			    <div class="ad_img">
			        
				    <img src="__PUBLIC__/img/overview/image2.png">
				    <div class="ad_discribe">
					    <div>BABY IT IS FOR LONDON</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box" style="margin-right:0px;">
			    <div class="ad_img">
			      
				    <img src="__PUBLIC__/img/overview/image3.png">
				      <div class="ad_discribe">
					 <div>INDIGO OF WORLD</div>
				    </div>
				    
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box">
			    <div class="ad_img">
			       
				    <img src="__PUBLIC__/img/overview/image4.png">
				     <div class="ad_discribe">
					   <div>够man，才够味</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box">
			    <div class="ad_img">
			         
				    <img src="__PUBLIC__/img/overview/image5.png">
				   <div class="ad_discribe">
					    <div>OLD NAVY</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box" style="margin-right:0px;">
			    <div class="ad_img">
			        
				    <img src="__PUBLIC__/img/overview/image6.png">
				     <div class="ad_discribe">
					     <div>2016 Summer Collection DOYS</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box">
			    <div class="ad_img">
				    <img src="__PUBLIC__/img/overview/image1.png">
				    <div class="ad_discribe">
					   <div>穿一件新旗袍</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box">
			    <div class="ad_img">
				    <img src="__PUBLIC__/img/overview/image2.png">
				    <div class="ad_discribe">
					     <div>BABY IT IS FOR LONDON</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="ad_box" style="margin-right:0px;">
			    <div class="ad_img">
				    <img src="__PUBLIC__/img/overview/image6.png">
				     <div class="ad_discribe">
					   <div>Doys</div>
				    </div>
				</div>
				<div class="ad_limit">
					<p class="ad_price">￥3000.00</p>
					<p class="ad_time">竞标时间截止6月10日</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div id="cooperation">
    <div class="newrank_container">
    	<img class='cooperation_img' src="__PUBLIC__/img/overview/Cooperation.png">
    	<!-- <button class="newrank_more_btn"><a>更多</a></button> -->
    	<div class="cooperation_images">
    		<a href="http://www.bilibili.com" target="_blank"><img src="__PUBLIC__/img/logo/1.png"></a>
    		<a href="http://www.douyu.com/" target="_blank"><img src="__PUBLIC__/img/logo/2.png"></a>
    		<a href="http://www.6.cn/" target="_blank"><img src="__PUBLIC__/img/logo/3.png"></a>
    		<a href="http://www.huya.com/" target="_blank"><img src="__PUBLIC__/img/logo/huya.png"></a>
    		<a href="http://www.yy.com/" target="_blank"><img src="__PUBLIC__/img/logo/5.png" style="margin-right:0px;"></a>
    		<a href="http://www.laifeng.com/" target="_blank"><img src="__PUBLIC__/img/logo/6.png"></a>
    		<a href="http://www.panda.tv/" target="_blank"><img src="__PUBLIC__/img/logo/7.png"></a>
    		<a href="http://www.longzhu.com/" target="_blank"><img src="__PUBLIC__/img/logo/8.png"></a>
    		<a href="http://www.ingkee.com/" target="_blank"><img src="__PUBLIC__/img/logo/9.png"></a>
    		<a href="http://www.huajiao.com/" target="_blank"><img src="__PUBLIC__/img/logo/10.png" style="margin-right:0px;"></a>
    	</div>
    </div>
</div>
<script>

$(document).ready(function(){
	var yule=new Array();
	$.post("/index.php/Home/RankingList/sort_info",function(data){
		
		nav1=data.data2[0];//数组，数组里面只有一个元素json
		nav_name=nav1.sort;//娱乐

        span1=$("<span>"+"娱乐"+"</span>");
            $('.advertisement_type').append(span1);
		 for(var i=0;i<nav1.detail.length;i++){
               yule.push(nav1.detail[i].name_new);
		 }
		$(".advertisement_content").html('');
                 for(var j=0;j<yule.length;j++){
                   var span=$("<span>"+yule[j]+"</span>");
                     $(".advertisement_content").append(span);
                 }
		nav2=data.data1;//json，json中有多个json，
        for(var i=1;i<=9;i++){
        	index=String(i);
        	nav2_name=nav2[index].sort;
            span=$("<span>"+nav2_name+"</span>");
             $('.advertisement_type').append(span);
        }
	},'json');

	$(".advertisement_type").on('click','span',function(){
	var choose=$(this).html();
	if(choose=="娱乐"){
		        var xx='0px';
         		$(".choose_link1").css("margin-left",xx);
               $(".advertisement_content").html('');
                 for(var j=0;j<yule.length;j++){
                   var span=$("<span>"+yule[j]+"</span>");
                     $(".advertisement_content").append(span);
                 }

         	}
         	else{
       $.post("/index.php/Home/RankingList/sort_info",function(data){
	    var nav2=data.data1;//json，json中有多个json，
         for(var i=1;i<=9;i++){
         	var index=String(i);
           var	nav2_name=nav2[index].sort;
         	if(choose==nav2_name){
         		var xx=(i*120)+'px';
         		$(".choose_link1").css("margin-left",xx);
                 $(".advertisement_content").html('');
                 for(var j=0;j<nav2[index].detail.length;j++){
                   var span=$("<span>"+nav2[index].detail[j].name_new+"</span>");
                     $(".advertisement_content").append(span);
                 }
               break;
         	}
         	
           
         }
	 },'json');

         	}
	
})

	
})




</script>