<!DOCTYPE html>
<html>
<head>
 <include file='../../Home/View/Public/head'/>  
</head>
<body ng-app='myApp' style="min-width:1400px;">
    <include file="Public/menu"/>
	<div class='mall_content'>
	   <div ng-view></div>
    </div>
    <include file="Public/foot"/>
	<script src="__PUBLIC__/js/newrank/app.js"></script>
    <script src="__PUBLIC__/js/newrank/overview.js"></script>
    <script src="__PUBLIC__/js/newrank/list.js"></script>
    <script src="__PUBLIC__/js/newrank/advertisement.js"></script>
    <script src="__PUBLIC__/js/newrank/search.js"></script>
    <script src="__PUBLIC__/js/newrank/information.js"></script>
    <script src="__PUBLIC__/js/newrank/menu.js"></script>
</body>
</html>
